In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

import pickle

In [9]:
job_place = pd.read_csv("Job_Placement_Data.csv")
job_place.head()

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [10]:
job_place.shape

(215, 13)

In [ ]:
'''ssc perce, hsc perect, degree percentage, under graduate degree,work expereince, specilaziation,
emp_test,mba_percent,status'''

### EDA

In [11]:
job_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               215 non-null    object
 1   ssc_percentage       215 non-null    float64
 2   ssc_board            215 non-null    object
 3   hsc_percentage       215 non-null    float64
 4   hsc_board            215 non-null    object
 5   hsc_subject          215 non-null    object
 6   degree_percentage    215 non-null    float64
 7   undergrad_degree     215 non-null    object
 8   work_experience      215 non-null    object
 9   emp_test_percentage  215 non-null    float64
 10  specialisation       215 non-null    object
 11  mba_percent          215 non-null    float64
 12  status               215 non-null    object
dtypes: float64(5), object(8)
memory usage: 22.0+ KB

In [12]:
job_place.isna().sum()

gender                 0
ssc_percentage         0
ssc_board              0
hsc_percentage         0
hsc_board              0
hsc_subject            0
degree_percentage      0
undergrad_degree       0
work_experience        0
emp_test_percentage    0
specialisation         0
mba_percent            0
status                 0
dtype: int64

In [13]:
job_place["ssc_percentage"]

0      67.00
1      79.33
2      65.00
3      56.00
4      85.80
       ...
210    80.60
211    58.00
212    67.00
213    74.00
214    62.00
Name: ssc_percentage, Length: 215, dtype: float64

In [16]:
job_place = job_place.drop(["gender","ssc_board","hsc_board","hsc_subject","undergrad_degree"],axis = 1)
job_place.head()

,ssc_percentage,hsc_percentage,degree_percentage,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,67.00,91.00,58.00,No,55.0,Mkt&HR,58.80,Placed
1,79.33,78.33,77.48,Yes,86.5,Mkt&Fin,66.28,Placed
2,65.00,68.00,64.00,No,75.0,Mkt&Fin,57.80,Placed
3,56.00,52.00,52.00,No,66.0,Mkt&HR,59.43,Not Placed
4,85.80,73.60,73.30,No,96.8,Mkt&Fin,55.50,Placed

In [17]:
job_place.shape
# target = mba_percent

(215, 8)

In [19]:
job_place["ssc_percentage"].value_counts()

62.00    11
63.00    10
67.00     9
52.00     9
73.00     9
         ..
69.70     1
80.92     1
83.00     1
86.50     1
80.60     1
Name: ssc_percentage, Length: 103, dtype: int64

In [20]:
job_place["work_experience"].value_counts()

No     141
Yes     74
Name: work_experience, dtype: int64

In [23]:
job_place["work_experience"].replace({"No":0 , "Yes":1}, inplace = True)

In [24]:
job_place["specialisation"].value_counts()

Mkt&Fin    120
Mkt&HR      95
Name: specialisation, dtype: int64

In [26]:
job_place["specialisation"].replace({"Mkt&Fin":0,"Mkt&HR":1 },inplace =True)

In [27]:
job_place["status"].value_counts()

Placed        148
Not Placed     67
Name: status, dtype: int64

In [29]:
job_place["status"].replace({"Placed": 0, "Not Placed": 1}, inplace= True)

### Model Training

In [30]:
x = job_place.drop("mba_percent", axis =1)
y = job_place["mba_percent"]

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=2)

In [36]:
model = LinearRegression()
model

LinearRegression()

In [37]:
model.fit(x_train, y_train)

LinearRegression()

In [39]:
model.intercept_

23.975624512374218

In [40]:
model.coef_

array([ 1.75320597e-01,  1.11384056e-01,  2.45036212e-01,  2.29508629e+00,
        5.28148099e-03, -2.94492070e-01,  5.86427393e+00])

In [43]:
y_predt = model.predict(x_test)

In [45]:
mae = mean_absolute_error( y_test,y_predt)
print("Mean absolute error: ", mae)

mse = mean_squared_error(y_test,y_predt)
print("Mean squared error: ", mse)

rmse = np.sqrt(mse)
print("root mean absolute error: ",rmse)

R_value = r2_score(y_test,y_predt)
print("R2_score is : ", R_value)

Mean absolute error:  4.0589887741318025
Mean squared error:  25.589606599136754
root mean absolute error:  5.0586170638957
R2_score is :  0.29756244104214313

In [50]:
y_predt_train = model.predict(x_train)

mae = mean_absolute_error( y_train,y_predt_train)
print("Mean absolute error: ", mae)

mse = mean_squared_error(y_train,y_predt_train)
print("Mean squared error: ", mse)

rmse = np.sqrt(mse)
print("root mean absolute error: ",rmse)

R_value = r2_score(y_train,y_predt_train)
print("R2_score is : ", R_value)

Mean absolute error:  3.746281766354687
Mean squared error:  21.927873962370075
root mean absolute error:  4.682720786291884
R2_score is :  0.3392006647273129

In [48]:
model.predict([[65.00,68.00,64.00,0,75.00,0,0]])

array([59.02400778])

In [49]:
y_train.head()

2      57.80
169    65.48
3      59.43
118    70.48
14     54.96
Name: mba_percent, dtype: float64

In [51]:
with open("job_placement_predt.pkl","wb")as fp:
    pickle.dump(model,fp)

In [54]:
x.head(1).T

                        0
ssc_percentage       67.0
hsc_percentage       91.0
degree_percentage    58.0
work_experience       0.0
emp_test_percentage  55.0
specialisation        1.0
status                0.0

In [55]:
x.columns

Index(['ssc_percentage', 'hsc_percentage', 'degree_percentage',
       'work_experience', 'emp_test_percentage', 'specialisation', 'status'],
      dtype='object')

In [57]:
project_data = {
                "work_experience":{"No": 0, "Yes":1},
                "specialisation": {"Mkt&Fin":0, "Mkt&HR":1},
                "status": {"Placed":0 , "Not Placed":1},
                "columns": ["ssc_percentage", "hsc_percentage", "degree_percentage",
       "work_experience", "emp_test_percentage", "specialisation", "status"]
}

In [58]:
import json

In [59]:
with open("job_placement1.json","w") as fp:
    json.dump(project_data,fp)